In [2]:
import pandas as pd

In [3]:
flats = pd.read_csv('flats.csv')
houses = pd.read_csv('houses.csv')

In [4]:
flats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3017 entries, 0 to 3016
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    3017 non-null   object
 1   link             3017 non-null   object
 2   society          3016 non-null   object
 3   price            3007 non-null   object
 4   area             3004 non-null   object
 5   areaWithType     3008 non-null   object
 6   bedRoom          3008 non-null   object
 7   bathroom         3008 non-null   object
 8   balcony          3008 non-null   object
 9   additionalRoom   1694 non-null   object
 10  address          3002 non-null   object
 11  floorNum         3006 non-null   object
 12  facing           2127 non-null   object
 13  agePossession    3007 non-null   object
 14  nearbyLocations  2913 non-null   object
 15  description      3008 non-null   object
 16  furnishDetails   2203 non-null   object
 17  features         2594 non-null   object
 18  rating           2676 non-null   object
 19  property_id      3008 non-null   object
dtypes: object(20)
memory usage: 471.5+ KB

In [5]:
flats = flats.drop(columns=["property_id" , "link"])

In [6]:
# flats.society.str.replace("★","").unique()
import re
flats['society'] = flats.society.apply(lambda name: re.sub(r'\d+\.\d+?\s?★', '', str(name)).strip()).str.lower()

In [7]:
flats = flats[flats['price'] != "Price on Request"]

In [8]:
def lac(x):
    if(type(x) == float):
        return x
    else:
        if (x[1] == "Lac"):
            return round(float (x[0])/100,2)
        else:
            return round(float (x[0]),2)

In [9]:
flats['price'] = flats['price'].str.split(" ").apply(lac)

In [10]:
flats.rename(columns={"area" :"price_per_sq"} , inplace=True)

In [11]:
price_per_sq = flats.price_per_sq.str.replace("/sq.ft.", "").str.replace("," , "").str.split(" " , expand=True).set_axis(["rs" , "price" ], axis=1)

In [12]:
flats["price_per_sq"] = price_per_sq["price"]

In [13]:
flats['price_per_sq'] = flats['price_per_sq'].astype(float)

In [14]:
flats.areaWithType.unique()

array(['Carpet area: 900 (83.61 sq.m.)', 'Carpet area: 650 (60.39 sq.m.)',
       'Carpet area: 595 (55.28 sq.m.)', ...,
       'Super Built up area 1822(169.27 sq.m.)',
       'Built Up area: 3700 (343.74 sq.m.)',
       'Super Built up area 3123(290.14 sq.m.)'], dtype=object)

In [15]:
flats.bedRoom.unique()

array(['2 Bedrooms', '3 Bedrooms', '4 Bedrooms', '1 Bedroom',
       '5 Bedrooms', '6 Bedrooms', nan], dtype=object)

In [16]:
flats = flats[~flats.bedRoom.isnull()]

In [17]:
flats['bedRoom'] = flats.bedRoom.str.replace("Bedrooms" , "").str.replace("Bedroom","")

In [18]:
flats.bedRoom = flats['bedRoom'].astype(int)

In [19]:
flats.bathroom.unique()

array(['2 Bathrooms', '3 Bathrooms', '4 Bathrooms', '5 Bathrooms',
       '1 Bathroom', '6 Bathrooms', '7 Bathrooms'], dtype=object)

In [20]:
flats['bathroom'] = flats.bathroom.str.replace("Bathrooms" , "").str.replace("Bathroom","")

In [21]:
flats.bathroom = flats.bathroom.astype(int)

In [22]:
flats.balcony.unique()

array(['1 Balcony', '3 Balconies', '2 Balconies', '3+ Balconies',
       'No Balcony'], dtype=object)

In [23]:
flats['balcony'] = flats.balcony.str.replace("Balconies" , "").str.replace("Balcony","").str.replace("No", "0").str.replace("+" , "")

In [24]:
flats.balcony = flats.balcony.astype(int)

In [25]:
flats.additionalRoom.fillna("not available" , inplace=True)

C:\Users\pc\AppData\Local\Temp\ipykernel_25420\1999415726.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  flats.additionalRoom.fillna("not available" , inplace=True)

In [26]:
flats.additionalRoom = flats.additionalRoom.str.lower()

In [27]:
flats.address.fillna("Na" , inplace=True)

C:\Users\pc\AppData\Local\Temp\ipykernel_25420\1360539385.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  flats.address.fillna("Na" , inplace=True)

In [28]:
flats.address = flats.address.str.lower()

In [29]:
flats.floorNum = (
    flats.floorNum.str.split(" ").str.get(0)
    .str.replace("Basement" , "-1")
    .str.replace("Ground","0")
    .str.replace("Lower" , "0").str.extract(r"(\d+)")
)

In [30]:
flats.facing.fillna("Na",inplace=True)

C:\Users\pc\AppData\Local\Temp\ipykernel_25420\283044831.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  flats.facing.fillna("Na",inplace=True)

In [31]:
flats.facing = flats.facing.str.lower()

In [32]:
flats.nearbyLocations = flats.nearbyLocations.str.lower()

In [33]:
flats.furnishDetails = flats.furnishDetails.str.lower()

In [34]:
flats.features = flats.features.str.lower()

In [35]:
flats.rating = flats.rating.str.lower()

In [ ]:
flats.insert(column="area" , value="" ,loc=4)

In [43]:
flats.area = round((flats.price * 10000000) / flats.price_per_sq)

In [ ]:
flats.insert(column="property_type" , value="flats" , loc=2)

In [47]:
flats.to_csv("flats_cleaned.csv")

In [47]:
flats.to_csv("flats_cleaned.csv")